<h5 class="card-title">Inserir lista de jogos</h5>
<p class="card-text">
  Insira um arquivo CSV com os jogos que deseja adicionar ao banco de dados.
  <br />
  O arquivo deve conter as colunas necessárias para os jogos, como nome, gênero, desenvolvedora, console, ano de lançamento, entre outros.
</p>
<form (submit)="onSubmitGameList()">
  <div class="row align-items-center">
    <div class="col-8">
      <input
        type="file"
        accept=".csv"
        (change)="onFileSelected($event, 'jogos-zerados')"
        class="form-control mb-3"
        aria-label="Selecione o arquivo CSV"
        required
      />
    </div>
    <div class="col-4">
      <button type="submit" class="btn btn-primary w-100">
        Inserir
      </button>
    </div>
  </div>
</form>
