<div class="container-fluid">
  <!-- Por Gênero -->
  <h2 class="mt-4">Por gênero</h2>
  <hr class="text-secondary" />
  <div class="row">
    <div
      class="col-12 col-sm-6 col-md-4 col-lg-3 mb-4"
      *ngFor="let genre of paginatedGenres"
    >
      <!-- Card clicável -->
      <div
        class="card card-warning bg-warning-gradient hover-scale"
        style="cursor: pointer; border-radius: 10px;"
        (click)="openItemDetailsModal(genre.genre_id, 'genre', genre.name_genre)"
        data-bs-toggle="modal"
        data-bs-target="#itemDetailsModal"
      >
        <div class="card-body bubble-shadow">
          <h1>{{ genre.genre_count }}</h1>
          <h5 class="op-8">{{ genre.name_genre }}</h5>
          <div class="pull-right">
            <h3 class="fw-bold op-8">
              {{ genre.percentage_genre | number : "1.1-2" }}%
            </h3>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="d-flex justify-content-center mt-3">
    <button
      class="btn btn-outline-primary me-2"
      [disabled]="genrePage === 1"
      (click)="changePage('genre', -1)"
    >
      <i class="fas fa-chevron-left me-2"></i> Anterior
    </button>
    <button
      class="btn btn-outline-primary"
      [disabled]="genrePage === totalGenrePages"
      (click)="changePage('genre', 1)"
    >
      Próximo <i class="fas fa-chevron-right ms-2"></i>
    </button>
  </div>

  <!-- Por Ano de Lançamento -->
  <h2 class="mt-4">Por ano de lançamento</h2>
  <hr class="text-secondary" />
  <div class="row">
    <div
      class="col-12 col-sm-6 col-md-4 col-lg-3 mb-4"
      *ngFor="let year of paginatedYears"
    >
      <div
        class="card card-primary bg-primary-gradient hover-scale"
        style="cursor: pointer; border-radius: 10px;"
        (click)="openItemDetailsModal(year.year, 'year', year.year.toString())"
        data-bs-toggle="modal"
        data-bs-target="#itemDetailsModal"
      >
        <div class="card-body bubble-shadow">
          <h1>{{ year.year_count }}</h1>
          <h5 class="op-8">{{ year.year }}</h5>
          <div class="pull-right">
            <h3 class="fw-bold op-8">
              {{ year.percentage_year | number : "1.1-2" }}%
            </h3>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="d-flex justify-content-center mt-3">
    <button
      class="btn btn-outline-primary me-2"
      [disabled]="yearPage === 1"
      (click)="changePage('year', -1)"
    >
      <i class="fas fa-chevron-left me-2"></i> Anterior
    </button>
    <button
      class="btn btn-outline-primary"
      [disabled]="yearPage === totalYearPages"
      (click)="changePage('year', 1)"
    >
      Próximo <i class="fas fa-chevron-right ms-2"></i>
    </button>
  </div>

  <!-- Por Console -->
  <h2 class="mt-4">Por plataforma</h2>
  <hr class="text-secondary" />
  <div class="row">
    <div
      class="col-12 col-sm-6 col-md-4 col-lg-3 mb-4"
      *ngFor="let console of paginatedConsoles"
    >
      <div
        class="card card-secondary bg-secondary-gradient hover-scale"
        style="cursor: pointer; border-radius: 10px;"
        (click)="openItemDetailsModal(console.console_id, 'console', console.name_console)"
        data-bs-toggle="modal"
        data-bs-target="#itemDetailsModal"
      >
        <div class="card-body bubble-shadow">
          <h1>{{ console.game_count }}</h1>
          <h5 class="op-8">{{ console.name_console }}</h5>
          <div class="pull-right">
            <h3 class="fw-bold op-8">
              {{ console.percentage_console | number : "1.1-2" }}%
            </h3>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="d-flex justify-content-center mt-3">
    <button
      class="btn btn-outline-primary me-2"
      [disabled]="consolePage === 1"
      (click)="changePage('console', -1)"
    >
      <i class="fas fa-chevron-left me-2"></i> Anterior
    </button>
    <button
      class="btn btn-outline-primary"
      [disabled]="consolePage === totalConsolePages"
      (click)="changePage('console', 1)"
    >
      Próximo <i class="fas fa-chevron-right ms-2"></i>
    </button>
  </div>
</div>

<!-- Modal para exibir detalhes do item -->
<div
  class="modal fade"
  id="itemDetailsModal"
  tabindex="-1"
  aria-labelledby="itemDetailsModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="itemDetailsModalLabel">
          Detalhes do Item
        </h5>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
        ></button>
      </div>
      <div class="modal-body">
        <app-item-details
          *ngIf="selectedItemId && selectedItemType && selectedItemDescription"
          [itemId]="selectedItemId"
          [itemType]="selectedItemType"
          [descriptionItem]="selectedItemDescription"
        ></app-item-details>
      </div>
    </div>
  </div>
</div>