<div class="page-inner">
  <h3 class="fw-bold mb-3">Perfil do usuário</h3>
  <div class="row">
    <div class="col-md-8">
      <div class="card card-with-nav">
        <div class="card-header">
          <div class="row row-nav-line">
            <ul
              class="nav nav-tabs nav-line nav-color-secondary w-100 ps-4"
              role="tablist"
            >
              <li class="nav-item" role="presentation">
                <a
                  class="nav-link active show"
                  id="home-tab"
                  data-bs-toggle="tab"
                  href="#home"
                  role="tab"
                  aria-controls="home"
                  aria-selected="true"
                  >Informações pessoais</a
                >
              </li>
              <li class="nav-item" role="presentation">
                <a
                  class="nav-link"
                  id="import-csv-tab"
                  data-bs-toggle="tab"
                  href="#import-csv"
                  role="tab"
                  aria-controls="settings"
                  aria-selected="false"
                  tabindex="-1"
                  >Importar CSV</a
                >
              </li>
              <li class="nav-item" role="presentation">
                <a
                  class="nav-link"
                  id="settings-tab"
                  data-bs-toggle="tab"
                  href="#settings"
                  role="tab"
                  aria-controls="settings"
                  aria-selected="false"
                  tabindex="-1"
                  >Configurações</a
                >
              </li>
            </ul>
          </div>
        </div>

        <div class="card-body">
          <div class="tab-content">
            <!-- Informações Pessoais Tab -->
            <div
              class="tab-pane fade show active"
              id="home"
              role="tabpanel"
              aria-labelledby="home-tab"
            >
              <div class="row mt-3">
                <div class="col-md-6">
                  <div class="form-group form-group-default">
                    <label>Nome do jogador</label>
                    <input
                      type="text"
                      class="form-control"
                      name="name"
                      value="{{ profile.name_player }}"
                      [(ngModel)]="profile.name_player"
                      [disabled]="!isEditing"
                    />
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="form-group form-group-default">
                    <label>Email</label>
                    <input
                      type="email"
                      class="form-control"
                      name="email"
                      value="{{ profile.email }}"
                      [(ngModel)]="profile.email"
                      [disabled]="!isEditing"
                    />
                  </div>
                </div>
              </div>
              <div class="row mt-3">
                <div class="col-md-6">
                  <div class="form-group form-group-default">
                    <label>Data de registro</label>
                    <input
                      type="text"
                      class="form-control"
                      name="created_at"
                      value="{{ profile.created_at | date : 'dd/MM/yyyy' }}"
                      disabled
                    />
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="form-group form-group-default">
                    <label>Nickname</label>
                    <input
                      type="text"
                      class="form-control"
                      value="{{ profile.nickname }}"
                      [(ngModel)]="profile.nickname"
                      name="nickname"
                      [disabled]="!isEditing"
                    />
                  </div>
                </div>
              </div>
              <div class="row mt-3">
                <div class="col-md-12">
                  <div class="form-group form-group-default">
                    <label>Senha</label>
                    <input
                      type="password"
                      class="form-control"
                      value="{{ profile.password }}"
                      [(ngModel)]="profile.password"
                      name="password"
                      [disabled]="!isEditing"
                    />
                  </div>
                </div>
              </div>

              <div class="my-2">
                <button (click)="editingMode()" class="btn btn-success">Editar</button>
                <button (click)="updateProfile()" class="btn btn-primary">Salvar</button>
              </div>
            </div>

            <!-- Item Importar CSV -->
            <div
              class="tab-pane fade"
              id="import-csv"
              role="tabpanel"
              aria-labelledby="import-csv-tab"
            >
              <div class="align-itens-center">
                <app-import-csv />
                <div class="alert alert-primary m-2">
                  <p>
                    Caro jogador, para importar corretamente as listas no
                    formato .csv, certifique-se que as informações apresentadas
                    em cada aba sejam seguida a risca.
                  </p>
                  <p>
                    Cabeçalho do csv necesário para a importação correta dos
                    jogos zerados: <br />
                    Nome do jogo; Gênero; Desenvolvedora; Console; Data de
                    conclusão; Tempo (em float); Ano de lançamento
                  </p>
                  <p>
                    Cabeçalho do csv necesário para a importação correta do
                    backlog: <br />
                    Nome do jogo, Desenvolvedor, Console, Gênero, Ano de
                    lançamento
                  </p>
                  <p>
                    Observações: a importação do csv aceita tanto a separação
                    por vírgula (,) quanto por ponto e vírgula (;). Na hora de
                    importar, pode nao vir as informações adequadamente.
                  </p>
                </div>
              </div>
            </div>

            <!-- Configurações Tab -->
            <div
              class="tab-pane fade"
              id="settings"
              role="tabpanel"
              aria-labelledby="settings-tab"
            >
              <div class="row mt-3">
                <h2 class="text-black text-center">Em construção</h2>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="col-md-4">
      <div class="card card-profile">
        <div class="card-header bg-primary-gradient">
          <div class="profile-picture">
            <div class="avatar avatar-xl">
              <img
                src="assets/img/control.png"
                alt="..."
                class="avatar-img rounded-circle"
              />
            </div>
          </div>
        </div>
        <div class="card-body">
          <div class="user-profile text-center align-itens-center">
            <div class="name">Quantidade de jogos e backlog</div>
          </div>
        </div>
        <div class="card-footer">
          <div class="row user-stats text-center">
            <div class="col">
              <div class="number">{{ finishedGames }}</div>
              <div class="title">Jogos zerados</div>
            </div>
            <div class="col">
              <div class="number">{{ backlogGames }}</div>
              <div class="title">No Backlog</div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
