<div class="container-fluid d-flex justify-content-center align-items-center">
  <div class="card p-4 shadow-lg" style="width: 800px">
    <div class="d-flex justify-content-between align-items-center mb-4">
      <h3 class="mb-0">
        {{ isEditing ? "Atualizar Jogo" : "Cadastrar Jogo" }}
      </h3>
      <button
        type="button"
        class="btn btn-primary"
        data-bs-toggle="modal"
        data-bs-target="#searchModal"
      >
        Buscar na IGDB
      </button>
    </div>

    <form (ngSubmit)="registerGame()" #gameForm="ngForm">
      <div class="row mb-4">
        <div class="col-md-4 d-flex justify-content-center align-items-center">
          <img
            [src]="url_image || 'https://via.placeholder.com/150?text=Sem+Imagem'"
            alt="Capa do Jogo"
            class="img-fluid rounded"
            style="max-height: 200px"
          />
        </div>
        <div class="col-md-8">
          <!-- Nome do Jogo -->
          <div class="form-group mb-2">
            <label for="nameGame">Nome do Jogo</label>
            <input
              type="text"
              class="form-control"
              id="nameGame"
              [(ngModel)]="nameGame"
              name="nameGame"
              placeholder="Digite o nome do jogo"
              required
              [ngClass]="{'is-invalid': gameForm.submitted && gameForm.controls['nameGame'].invalid}"
            />
            <div *ngIf="gameForm.submitted && gameForm.controls['nameGame']?.errors?.['required']" class="invalid-feedback">
              Nome do jogo é obrigatório.
            </div>
          </div>

          <!-- URL da Imagem -->
          <div class="form-group mb-2">
            <label for="url_image">URL da Imagem</label>
            <input
              type="text"
              class="form-control"
              id="url_image"
              [(ngModel)]="url_image"
              name="url_image"
              placeholder="Insira o link da capa do jogo"
            />
          </div>

          <!-- Desenvolvedor -->
          <div class="form-group mb-2">
            <label for="developer">Desenvolvedor</label>
            <input
              type="text"
              class="form-control"
              id="developer"
              [(ngModel)]="developer"
              name="developer"
              placeholder="Digite o nome do desenvolvedor"
              required
              [ngClass]="{'is-invalid': gameForm.submitted && gameForm.controls['developer'].invalid}"
            />
            <div *ngIf="gameForm.submitted && gameForm.controls['developer']?.errors?.['required']" class="invalid-feedback">
              Desenvolvedor é obrigatório.
            </div>
          </div>

          <!-- Ano de Lançamento -->
          <div class="form-group mb-2">
            <label for="releaseYear">Ano de Lançamento</label>
            <input
              type="text"
              class="form-control"
              id="releaseYear"
              [(ngModel)]="releaseYear"
              name="releaseYear"
              placeholder="Digite o ano de lançamento"
              required
              [ngClass]="{'is-invalid': gameForm.submitted && gameForm.controls['releaseYear'].invalid}"
            />
            <div *ngIf="gameForm.submitted && gameForm.controls['releaseYear']?.errors?.['required']" class="invalid-feedback">
              Ano de lançamento é obrigatório.
            </div>
          </div>
        </div>
      </div>

      <!-- Console -->
      <div class="form-group mb-3">
        <label for="console">Console</label>
        <select
          class="form-control"
          id="console"
          [(ngModel)]="selectedConsole"
          name="console"
          required
          [ngClass]="{'is-invalid': gameForm.submitted && !selectedConsole}"
        >
          <option value="" disabled selected>Selecione o console</option>
          <option *ngFor="let console of consoles" [value]="console.id_console">
            {{ console.name_console }}
          </option>
        </select>
        <div *ngIf="gameForm.submitted && !selectedConsole" class="invalid-feedback">
          Console é obrigatório.
        </div>
      </div>
      
      <!-- Gênero -->
      <div class="form-group mb-3">
        <label for="genre">Gênero</label>
        <select
          class="form-control"
          id="genre"
          [(ngModel)]="selectedGenre"
          name="genre"
          required
          [ngClass]="{'is-invalid': gameForm.submitted && !selectedGenre}"
        >
          <option value="" disabled selected>Selecione o gênero</option>
          <option *ngFor="let genre of genres" [value]="genre.id_genre">
            {{ genre.name_genre }}
          </option>
        </select>
        <div *ngIf="gameForm.submitted && !selectedGenre" class="invalid-feedback">
          Gênero é obrigatório.
        </div>
      </div>

      <!-- Data de Conclusão -->
      <div class="form-group mb-3">
        <label for="dateBeating">Data de Conclusão</label>
        <input
          type="date"
          class="form-control"
          id="dateBeating"
          [(ngModel)]="dateBeating"
          name="dateBeating"
          required
        />
      </div>

      <!-- Tempo de Conclusão -->
      <div class="form-group mb-3">
        <label for="timeBeating">Tempo de Conclusão (em horas)</label>
        <input
          type="number"
          class="form-control"
          id="timeBeating"
          [(ngModel)]="timeBeating"
          name="timeBeating"
          placeholder="Digite o tempo de conclusão"
          required
          step="0.1"
        />
      </div>

      <!-- Botão de Submissão -->
      <button
        type="submit"
        class="btn btn-primary btn-block"
        [disabled]="gameForm.invalid || !isFormValid()"
      >
        {{ isEditing ? "Atualizar Jogo" : "Cadastrar Jogo" }}
      </button>
    </form>
  </div>
</div>


<!-- Modal -->
<div
  class="modal fade"
  id="searchModal"
  tabindex="-1"
  aria-labelledby="searchModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title text-primary" id="searchModalLabel">
          Buscar na IGDB
        </h5>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
        ></button>
      </div>
      <div class="modal-body">
        <div class="form-group mb-4">
          <label for="searchGame" class="form-label"
            >Digite o nome do jogo</label
          >
          <div class="input-group">
            <input
              type="text"
              class="form-control"
              id="searchGame"
              [(ngModel)]="igdb_game_search"
              placeholder="Digite o nome do jogo"
            />
            <button
              class="btn btn-outline-primary"
              type="button"
              (click)="searchGameFromIGDB()"
            >
              Buscar
            </button>
          </div>
          <div class="search-results mt-3">
            <div *ngIf="loadingSearch" class="text-center text-secondary">
              <div class="spinner-border" role="status"></div>
              <p>Carregando...</p>
            </div>
            <ul class="list-group" *ngIf="searchResults.length > 0">
              <li
                class="list-group-item d-flex justify-content-between align-items-center"
                *ngFor="let result of searchResults"
                (click)="selectGameFromSearch(result)"
                style="cursor: pointer"
                data-bs-dismiss="modal"
              >
                <div class="d-flex align-items-center">
                  <img
                    [src]="result.url_image"
                    alt="{{ result.name }}"
                    class="me-3"
                    style="width: 50px; height: auto"
                  />
                  <div>
                    <h6 class="mb-0">{{ result.name }}</h6>
                    <small class="text-muted">{{ result.release_year }}</small>
                  </div>
                </div>
                <span class="badge bg-primary" data-bs-dismiss="modal"
                  >Selecionar</span
                >
              </li>
            </ul>
            <div
              *ngIf="!loadingSearch && searchResults.length === 0"
              class="text-center text-muted"
            >
              Nenhum resultado encontrado.
            </div>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
          Fechar
        </button>
      </div>
    </div>
  </div>
</div>
