<div class="container d-flex justify-content-center align-items-center">
  <div class="page-inner">
    <div class="d-flex flex-column align-items-center">
      <!-- <img
        src="assets/img/undraw/undraw_not_found_60pq.svg"
        width="250"
        alt="Page Not Found"
      /> -->
      <h2 class="h1 mt-4 mb-4 fw-bold">Desculpe! Esta página não existe.</h2>
      <p class="text-center op-7 mb-5 h5">
        E a propósito, a princesa está em outro castelo!<br />
      </p>
      <div>
        <a [routerLink]="['/home']" routerLinkActive="router-link-active"  class="btn btn-primary">Voltar</a>
      </div>
    </div>
  </div>
</div>
