<div class="col-md-12">
  <div class="card shadow-sm">
    <div class="card-header bg-primary text-white">
      <h4 class="card-title mb-0">Informações Gamísticas</h4>
    </div>
    <div class="card-body">
      <!-- Navegação por Abas -->
      <ul
        class="nav nav-pills nav-primary nav-pills-no-bd mb-4"
        id="pills-tab-without-border"
        role="tablist"
      >
        <li class="nav-item" role="presentation">
          <a
            class="nav-link active"
            id="pills-home-tab-nobd"
            data-bs-toggle="pill"
            href="#general-statistics"
            role="tab"
            aria-controls="pills-home-nobd"
            aria-selected="true"
          >
            <i class="fas fa-chart-bar me-2"></i> Estatísticas Gerais
          </a>
        </li>
        <!-- <li class="nav-item" role="presentation" >
          <a
            class="nav-link"
            id="pills-home-tab-nobd"
            data-bs-toggle="pill"
            href="#stats-by-year"
            role="tab"
            aria-controls="stats-by-year"
            aria-selected="false"
          >
            <i class="fas fa-chart-bar me-2"></i> Estatísticas por ano
          </a>
        </li> -->
        <!-- Adicione mais abas aqui, se necessário -->
      </ul>

      <!-- Conteúdo das Abas -->
      <div class="tab-content" id="pills-without-border-tabContent">
        <!-- Aba de Estatísticas Gerais -->
        <div
          class="tab-pane fade active show"
          id="general-statistics"
          role="tabpanel"
          aria-labelledby="general-statistics"
        >
          <app-statistic-info />
        </div>
        <!-- Aba de Estatísticas por Ano -->
        <div
          class="tab-pane fade show"
          id="stats-by-year"
          role="tabpanel"
          aria-labelledby="stats-by-year"
        >
          <app-stats-by-year />
        </div>
        <!-- Adicione mais conteúdos de abas aqui, se necessário -->
      </div>
    </div>
  </div>
</div>