<div>
  <h1>Modo CSV</h1>

  <div class="card text-center" style="height: 50vh">
    <div class="card-header">
      <ul class="nav nav-tabs card-header-tabs">
        <li class="nav-item" role="presentation">
          <button
            class="nav-link"
            [ngClass]="{ active: activeTab === 'instructions' }"
            (click)="activeTab = 'instructions'"
            type="button"
          >
            Instruções
          </button>
        </li>
        <li class="nav-item" role="presentation">
          <button
            class="nav-link"
            [ngClass]="{ active: activeTab === 'genero' }"
            (click)="activeTab = 'genero'"
            type="button"
          >
            Inserir CSV de Gêneros
          </button>
        </li>
        <li class="nav-item" role="presentation">
          <button
            class="nav-link"
            [ngClass]="{ active: activeTab === 'fabricante' }"
            (click)="activeTab = 'fabricante'"
            type="button"
          >
            Inserir CSV de Fabricantes
          </button>
        </li>
        <li class="nav-item" role="presentation">
          <button
            class="nav-link"
            [ngClass]="{ active: activeTab === 'consoles' }"
            (click)="activeTab = 'consoles'"
            type="button"
          >
            Inserir CSV de consoles
          </button>
        </li>
      </ul>
    </div>

    <div class="card-body">
      <!-- Aba 1: Inserir lista de gêneros -->
      <div *ngIf="activeTab === 'genero'">
        <h5 class="card-title">Inserir lista de gêneros</h5>
        <p class="card-text">
          Insira um arquivo CSV com os gêneros que deseja adicionar ao banco de
          dados.
          <br />
          O arquivo deve conter uma coluna com o nome do gênero apenas.
        </p>
        <form (submit)="onSubmitGenero()">
          <input
            type="file"
            accept=".csv"
            (change)="onFileSelected($event, 'genero')"
            class="form-control mb-3"
            required
          />
          <button type="submit" class="btn btn-primary">Inserir</button>
        </form>
      </div>

      <!-- Aba 2: Inserir lista de fabricantes -->
      <div *ngIf="activeTab === 'fabricante'">
        <h5 class="card-title">Inserir lista de fabricantes</h5>
        <p class="card-text">
          Insira um arquivo CSV com os fabricantes que deseja adicionar ao banco
          de dados.
          <br />
          O arquivo deve conter uma coluna com o nome do fabricante e ano de
          fundação.
        </p>
        <form (submit)="onSubmitFabricante()">
          <input
            type="file"
            accept=".csv"
            (change)="onFileSelected($event, 'fabricante')"
            class="form-control mb-3"
            required
          />
          <button type="submit" class="btn btn-primary">Inserir</button>
        </form>
      </div>

      <!-- Aba 3: Inserir lista de fabricantes -->
      <div *ngIf="activeTab === 'consoles'">
        <h5 class="card-title">Inserir lista de consoles</h5>
        <p class="card-text">
          Insira um arquivo CSV com os consoles que deseja adicionar ao banco de
          dados.
          <br />
          O arquivo deve conter uma coluna com o nome do console, a fabricante e
          ano de lançamento do console.
        </p>
        <form (submit)="onSubmitConsole()">
          <input
            type="file"
            accept=".csv"
            (change)="onFileSelected($event, 'console')"
            class="form-control mb-3"
            required
          />
          <button type="submit" class="btn btn-primary">Inserir</button>
        </form>
      </div>

      <!-- Aba 4: Em Breve -->
      <div *ngIf="activeTab === 'instructions'">
        <h5 class="card-title">
          Instruções para manipular a importação de CSV
        </h5>
        <p class="card-text">
          <p class="text-break">
          Caro administrador, para importar corretamente as listas no formato
          .csv, certifique-se que as informações apresentadas em cada aba sejam
          seguida a risca. Outra observação é: ao inserir uma lista de consoles,
          certifique-se de que as fabricantes estejam salvas no sistema, pois se
          não estiver salva, a importação não salvará o registro do console sem
          o dado do fabricante do mesmo. Entretanto, irá gerar um log de erro
          que você poderá verificar posteriormente o que não foi salvo.
        </p>
      </div>
    </div>
  </div>
</div>
