<!-- Sidebar -->
<div class="sidebar" data-background-color="dark">
  <div class="sidebar-logo">
    <!-- Logo Header -->
    <div class="logo-header" data-background-color="dark">
      <a routerLink="home" class="logo">
        <img
          src="assets/img/gbprojectlogo-login.svg"
          alt="navbar brand"
          class="navbar-brand"
          height="48"
        />
      </a>
      <div class="nav-toggle">
        <button class="btn btn-toggle toggle-sidebar">
          <i class="gg-menu-right"></i>
        </button>
        <button class="btn btn-toggle sidenav-toggler">
          <i class="gg-menu-left"></i>
        </button>
      </div>
      <button class="topbar-toggler more">
        <i class="gg-more-vertical-alt"></i>
      </button>
    </div>
    <!-- End Logo Header -->
  </div>
  <div class="sidebar-wrapper scrollbar scrollbar-inner">
    <div class="sidebar-content">
      <ul class="nav nav-secondary">
        
        <!-- Items da área do jogador -->
        <ng-container *ngIf="role === 'player'">
          <li *ngFor="let item of menuItemsPlayer.dashboardItem" class="nav-item">
            <a routerLink="{{ item.link }}">
              <i class="{{ item.icon }}"></i>
              <p>{{ item.name }}</p>
            </a>
          </li>

          <li class="nav-section">
            <span class="sidebar-mini-icon">
              <i class="fa fa-ellipsis-h"></i>
            </span>
            <h4 class="text-section">Registros</h4>
          </li>
          <li *ngFor="let item of menuItemsPlayer.registersItem" class="nav-item">
            <a routerLink="{{ item.link }}">
              <i class="{{ item.icon }}"></i>
              <p>{{ item.name }}</p>
            </a>
          </li>

          <li class="nav-section">
            <span class="sidebar-mini-icon">
              <i class="fa fa-ellipsis-h"></i>
            </span>
            <h4 class="text-section">Listagens</h4>
          </li>
          <li *ngFor="let item of menuItemsPlayer.listItems" class="nav-item">
            <a routerLink="{{ item.link }}">
              <i class="{{ item.icon }}"></i>
              <p>{{ item.name }}</p>
            </a>
          </li>

          <li class="nav-section">
            <span class="sidebar-mini-icon">
              <i class="fa fa-ellipsis-h"></i>
            </span>
            <h4 class="text-section">Sobre o projeto</h4>
          </li>
          <li *ngFor="let item of menuItemsPlayer.infoProject" class="nav-item">
            <a routerLink="{{ item.link }}">
              <i class="{{ item.icon }}"></i>
              <p>{{ item.name }}</p>
            </a>
          </li>

          <li class="nav-section">
            <span class="sidebar-mini-icon">
              <i class="fa fa-ellipsis-h"></i>
            </span>
            <h4 class="text-section">Configurações</h4>
          </li>
          <li *ngFor="let item of menuItemsPlayer.configs" class="nav-item">
            <a routerLink="{{ item.link }}">
              <i class="{{ item.icon }}"></i>
              <p>{{ item.name }}</p>
            </a>
          </li>
        </ng-container>

        <!-- Items da área do administrador -->
        <ng-container *ngIf="role === 'admin'">
          <li *ngFor="let item of menuItemsAdmin.dashboardItem" class="nav-item">
            <a routerLink="{{ item.link }}">
              <i class="{{ item.icon }}"></i>
              <p>{{ item.name }}</p>
            </a>
          </li>

          <li class="nav-section">
            <span class="sidebar-mini-icon">
              <i class="fa fa-ellipsis-h"></i>
            </span>
            <h4 class="text-section">Registros</h4>
          </li>
          <li *ngFor="let item of menuItemsAdmin.registersItems" class="nav-item">
            <a routerLink="{{ item.link }}">
              <i class="{{ item.icon }}"></i>
              <p>{{ item.name }}</p>
            </a>
          </li>

          <li class="nav-section">
            <span class="sidebar-mini-icon">
              <i class="fa fa-ellipsis-h"></i>
            </span>
            <h4 class="text-section">Listagens</h4>
          </li>
          <li *ngFor="let item of menuItemsAdmin.listsItems" class="nav-item">
            <a routerLink="{{ item.link }}">
              <i class="{{ item.icon }}"></i>
              <p>{{ item.name }}</p>
            </a>
          </li>

          <li class="nav-section">
            <span class="sidebar-mini-icon">
              <i class="fa fa-ellipsis-h"></i>
            </span>
            <h4 class="text-section">Configurações</h4>
          </li>
          <li *ngFor="let item of menuItemsAdmin.othersItems" class="nav-item">
            <a routerLink="{{ item.link }}">
              <i class="{{ item.icon }}"></i>
              <p>{{ item.name }}</p>
            </a>
          </li>
        </ng-container>
      </ul>
    </div>
  </div>
</div>
<!-- End Sidebar -->

<div class="main-panel">
  <div class="">
    <app-header />
  </div>

  <div class="container">
    <div class="page-inner">
      <router-outlet />
    </div>
  </div>
</div>
