<div class="about-project">
  <h2>Sobre o Projeto</h2>
  <p>
    <i>Check<b>POINT</b></i> é um sistema desenvolvido para entusiastas de
    videogames que desejam registrar e acompanhar todos os jogos que já
    terminaram. A plataforma permite criar um histórico personalizado de seus
    jogos zerados, facilitando a organização e a visualização de títulos
    completados ao longo do tempo.
  </p>
  <p>
    Com uma interface intuitiva, você pode adicionar novos jogos à sua lista,
    consultar detalhes sobre cada jogo e criar uma backlog - uma playlist de
    jogos para você se organizar durante sua jornada gamer.
  </p>
  <p>Principais funcionalidades incluem:</p>
  <ul>
    <li>Registro fácil de jogos concluídos;</li>
    <li>Visualização e gerenciamento de sua lista de jogos;</li>
    <li>
      Filtragem e categorização por gênero, plataforma e ano de conclusão;
    </li>
    <li>Estatísticas sobre seu progresso gamer.</li>
  </ul>
  <p>
    <i>Check<b>POINT</b></i> é o parceiro ideal para todo jogador que deseja
    valorizar suas conquistas e manter um registro organizado do seu legado nos
    videogames!
  </p>
</div>
